<h1>Public::Locals#confirm</h1>
<p>Find me in app/views/public/locals/confirm.html.erb</p>
<h2>本当に退会しますか？</h2>
<p>退会する場合は、「退会する」をクリックしてください。</p><br>

<%= link_to "退会しない", local_path(current_local) %>

<% if local_signed_in? && @local.id == current_local.id %>
<%= link_to "退会する", locals_leave_path(current_local), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
<% end %>