<div class="area-index container">
	<div class="row">
		<div class="col-sm-12">
			<% @areas.each do |area| %>
				<% if area.id.between?(0, 4) %>
					<%= area.id %>
					<%= link_to area.name, area_path(area) %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>