// Place all the styles related to the public/spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* スポット一覧関連 */

/* サイドバー（エリア検索） */
.area-box {
	display: flex;
	flex-flow: row wrap;
	margin: 40px 0px 40px 0px;
}

.area-btn {
	width: 70px;
	height: auto;
	margin: 8px;
}


/* スポット一覧 */
.spot-index .spot-container {
	margin-bottom: 25px;
}

.spot-index {
	margin: 50px 0px 100px 0px;
}

.spot-index .title {
	font-weight: bolder;
	text-align: center;
	margin: 20px 0px;
}

.spot-image {
	margin: 0px 15px 10px 0px;
	border-radius: 10px;
	box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.22);
}

.spot-index-box {
	display :flex;
	flex-wrap: wrap;
	justify-content: center;
}

.spot-container {
	width: 210px;
}

.spot-detail {
	border-bottom: 1px solid #EEEEEE;
}