// Place all the styles related to the public/top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ログイン前トップページ */

.top-visual {
	background-image: image-url('TopPics/Top1.jpeg');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 70vh;
}

.top-contents {
	margin: 50px 0px 100px 0px;
}

/* 波情報 */
.public-report-box {
	width: 100%;
	height: auto;

	position: relative;
	border: solid 3px #3399FF;
	padding: 30px 10px 5px 0px;
	margin: 50px 0px;

	overflow-x: auto;
	white-space: nowrap;
}

.public-report-box .box-title {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  background: #3399FF;
  color: #ffffff;
  font-weight: bold;
}

.public-report {
	display: inline-block;
	width: 200px;
	height: auto;
	background-color: #fff;
	margin-right:10px;
}

/* 波予報 */
.public-forecast-box {
	width: 100%;
	height: auto;

	position: relative;
	border: solid 3px #62c1ce;
	padding: 30px 10px 5px 0px;
	margin: 50px 0px;

	overflow-x: auto;
	white-space: nowrap;
}

.public-forecast-box .box-title {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  background: #62c1ce;
  color: #ffffff;
  font-weight: bold;
}

.public-forecast {
	display: inline-block;
	width: 200px;
	height: auto;
	background-color: #fff;
	margin-right:10px;
}


/* ログイン後、トップページ */

/* 波情報 */
.new-report-box {
	width: 100%;
	height: auto;
	background-color: #fff;

	position: relative;
	border: solid 3px #3399FF;
	padding: 30px 10px 5px 0px;

	overflow-x: auto;
	white-space: nowrap;
}

.new-report-box .box-title {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  background: #3399FF;
  color: #ffffff;
  font-weight: bold;
}

.new-report {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: #fff;
	margin-right:10px;
}

/* 波予報 */
.new-forecast-box {
	width: 100%;
	height: auto;
	background-color: #fff;

	position: relative;
	border: solid 3px #62c1ce;
	padding: 30px 10px 5px 0px;

	overflow-x: auto;
	white-space: nowrap;
}

.new-forecast-box .box-title {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  background: #62c1ce;
  color: #ffffff;
  font-weight: bold;
}

.new-forecast {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: #fff;
	margin-right:10px;
}
