// Place all the styles related to the admin/locals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ローカル管理一覧 */

.admin-local-index {
	margin-bottom: 100px;
}

.admin-local-index .title {
	text-align: center;
	margin: 50px 0px;
	font-weight: bolder;
}

.admin-local-index table {
	border: 1px solid #C0C0C0;
}

.admin-local-index table thead tr th {
	border: 1px solid #C0C0C0;
	width: 200px;
	text-align: center;
	padding: 10px 0px;
}

.admin-local-index table tbody tr:nth-child(odd) {
	background-color: #E6FFE9;
}

.admin-local-index table tbody tr td {
	border: 1px solid #C0C0C0;
	width: 200px;
	text-align: center;
	padding: 5px 0px;
}

.admin-local-img {
	border-radius: 50px;
}


/* ローカルステータス変更確認 */

.admin-local-edit {
	text-align: center;
	margin: 200px;
}

.admin-local-edit .title {
	margin-bottom: 50px;
	font-weight: bolder;
}

.admin-local-edit p {
	display: inline-block;
	margin: 0px 10px;
}

.admin-local-edit {
	text-align: center;
}