<% if user_signed_in? || local_signed_in? || admin_signed_in? %>
	<div class="top-report-visual">
		<div class="top-report-background">
			<p>波情報 & 波予報</p>
		</div>
	</div>
	<div class="top-contents container">
		<div class="row">
			<div class="col-sm-9">

				<%= render 'public/top/top-login' %>

			</div>
			<div class="col-sm-3">

				<%= render 'public/top/top-weather' %>

			</div>
		</div>
	</div>

	<div class="top-shop-visual">
		<div class="top-shop-background">
			<p>ショップ</p>
		</div>
	</div>
	<div class="top-shop container">
		<div class="row">
			<div class="col-sm-12">

				<%= render 'public/top/top-shop' %>

			</div>
		</div>
	</div>
<% else %>
	<div class="top-visual">
		<div class="top-visual-background">
			<div class="quotes">
				<h3>“ It’s all about</h3>
				<h3>where your mind’s at ... ”</h3><br>
				<h5>by Kelly Slater</h5>
			</div>
		</div>
	</div>
	<div class="top-contents container">
		<div class="row">
			<div class="col-sm-12">

				<%= render 'public/top/top-public' %>

			</div>
		</div>
	</div>
<% end %>
