<h1>About#about</h1>
<p>Find me in app/views/about/about.html.erb</p>

<div class= "box1">

<ul class>

<li class="test2"></li>

<li class="test2"></li>

<li class="test2"></li>

<li class="test2"></li>

<li class="test2"></li>

<li class="test3"></li>

</ul>

</div>

<div class="box26">
    <span class="box-title">ここにタイトル</span>
    <p>ここに文章</p>
</div>