/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_self
 */
 	@import "bootstrap-sprockets";
  @import "bootstrap";


/* ヘッダー関連 */

.header {
  height: 80px;
  line-height: 80px;
  display:flex;
  justify-content:flex-end;
}

.header-admin {
  height: 80px;
  line-height: 80px;
  display:flex;
  justify-content:flex-end;
  background-color: black;
}

/* ヘッダーロゴ */
.header .header-logo,
.header-admin .header-admin-logo {
  margin-left: 30px;
  margin-right:auto;
}


/* ヘッダーアイコン関連 */
#icon a {
  margin-right: 30px;
  text-align: center;
  opacity: 0.9;
}

#admin-logout p {
  margin-right: 30px;
}

#icon-contents #tab {
  position: absolute;
  width: 200px;
  height: auto;
  background-color: rgba( 255, 255, 255, 0.9);
  border: 1px solid #DDDDDD;
  border-radius: 15px 0px 15px 15px;
  top: 60px;
  right: 80px;
  z-index: 10;
}

#icon .user-img {
  border-radius: 50px;
  text-align: center;
}

#tab {
  text-align: center;
}


/* フッター関連 */

.footer {
  width: 100%;
  height: 200px;
  padding: 20px;
  border-top: 1px solid #CCCCCC;
}

.footer > div {
  margin:0 10px;
}


/* 管理者フッター関連 */

.footer-admin {
  background-color: black;
}


.footer-admin .container {
  padding: 40px 0px;
}

.footer-admin .container .button-box {
  text-align: center;
}

.footer-admin .btn {
  width: 200px;
  padding: 7px 0px;
  margin: 5px 0px;
  border-radius: 10px;
}


/* サインイン・アップ画面関連 */

/* 背景写真 */
.user-background {
  background-image: image-url("UserSign.jpeg");
  background-size: cover;
  backgorund-position: center;
  height: 700px;
}

.local-background {
  background-image: image-url("LocalSign.jpeg");
  background-size: cover;
  backgorund-position: center;
  height: 700px;
}


/* 入力フォーム背景透かし */
.form-background {
  height: 700px;
  width: 50%;
  background-color: rgba( 255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.local-form-background {
  height: 700px;
  width: 50%;
  background-color: rgba( 255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}


/* サインインフォーム関連 */
.signin-form {
  width: 80%;
  height: 80%;
  display: inline-block;
  padding: 20px 0;
}

.signin-form .field {
  padding: 20px 0;
}

.signin-form input[type="email"] {
  width: 100%;
  height: 35px;
}

.signin-form input[type="password"] {
  width: 100%;
  height: 35px;
}


/* サインアップフォーム関連 */
.signup-form {
  width: 80%;
  height: 80%;
  display: inline-block;
}

.signup-form table {
  width: 100%;
  margin: 20px auto;
}

.signup-form table tr th {
  padding: 12px;
}

.signup-form input[type="text"] {
  width: 100%;
  height: 25px;
}

.signup-form .level {
  width: 100%;
  height: 25px;
}

.signup-form input[type="email"] {
  width: 100%;
  height: 25px;
}

.signup-form input[type="password"] {
  width: 100%;
  height: 25px;
}

.form-background .actions {
  text-align: center;
}

.form-background .submit-btn {
  width: 80%;
}

.local-form-background .actions {
  text-align: center;
}

.local-form-background .submit-btn {
  width: 80%;
}

/* リセットフォーム関連 */
.reset-form {
  width: 80%;
  height: 80%;
  display: inline-block;
}

.reset-form input[type="email"] {
  width: 100%;
  height: 35px;
}

.reset-form .field {
  margin-top: 80px;
}

.reset-form .actions {
  margin-top: 60px;
}

/* 管理者サインイン関連 */
.admin-background {
  background-color: rgba( 0, 0, 0, 0.4);
  padding: 100px 0px;
}

.admin-signin {
  text-align: center;
}

.admin-signin .field {
  margin: 30px auto;
}
