<footer class="footer">
  <div><%= link_to "アバウト", about_path, class: "btn btn-default btn-lo" %></div>
  <div><%= link_to "ショップ一覧", shops_path, class: "btn btn-default btn-lo" %></div>
  <div><%= link_to "スポット検索", areas_path, class: "btn btn-default btn-lo" %></div>
</footer>